{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "AzureStorageAccountConnectionString": "DefaultEndpointsProtocol=https;AccountName=<your account>;AccountKey=<your account key>;EndpointSuffix=core.windows.net",
    "AzureStorageAccountContainerName": "azurespatialanchordemo",
    "CurrentAnchorIdBlobName": "CurrentAnchorIdBlob.txt",
    "CurrentSceneryDefinitionBlobName": "CurrentSceneryDefinitionBlob.json"
  }
}